doctype html
html
  
  head
    title Tetris
    
    link(rel='shortcut icon', href='favicon.ico')
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Press+Start+2P', type='text/css')
    link(rel='stylesheet', href='css/tetris.css?v=' + cache_tag('public/css/tetris.css'), type='text/css')
    
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    script(src='js/main.js?v=' + cache_tag('public/js/main.js'))
  
  body
    .container
      
      #game-start
        h1 Tetris
        
        table#controls(cellpadding='0', cellspacing='0', width='100%')
          tbody

              td Right arrow
              td Move right 
            tr
              td Left arrow
              td Move left
            tr
              td Up arrow
              td Rotate
            tr
              td Down arrow
              td Move down
            tr
              td Space
              td Fast drop
            tr
              td P
              td Pause
      
      #game-loading
      
      script.
        $('#game-loading').text('Game loading...')
      
      noscript
        .error.
          Error! Your web browser has Javascript disabled.
      
      .status-container(style='display:none')
        table(border='0', cellpadding='5')
          tbody
            tr
              td(colspan="2", align="center", width="100")
                #preview
            tr
              td Level
              td: #level
            tr
              td Score
              td: #score
            tr
              td Lines
              td: #lines
    
      .game-container(style='display:none')
        #game.game(style='width:300px; height: 600px;')
        #menu.overlay
    
    audio#collapse1-sound(src='sounds/beep1.mp3?v=' + cache_tag('public/sounds/beep1.mp3'), preload='auto')
    audio#collapse2-sound(src='sounds/beep2.mp3?v=' + cache_tag('public/sounds/beep2.mp3'), preload='auto')
    audio#collapse3-sound(src='sounds/beep3.mp3?v=' + cache_tag('public/sounds/beep3.mp3'), preload='auto')
    audio#collapse4-sound(src='sounds/beep4.mp3?v=' + cache_tag('public/sounds/beep4.mp3'), preload='auto')
    
    include analytics.jade
    